# dependencies
node_modules/

# build outputs
.next/
out/
tsconfig.tsbuildinfo

# env
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.swp
.vercel

/generated/prisma
prisma/*.db
.env*.local
